{% extends 'base.html' %}

{% block content %}
<ul>
        <li>
            <h3>Hamphrey Wafula</h3>
            <p>Founder & CEO</p>
            <p>Hamphrey is passionate about Cyber Security and has been exploring Cyber Security trends for over a decade.</p>
        </li>
        <li>
            <h3>Beryl Makena</h3>
            <p>Head of Research</p>
            <p>Beryl holds a Ph.D. in Cyber threats hunting and leads our research initiatives.</p>
        </li>
{% endblock %}
